Nodered flow for insurance prediction.json
[{"id":"7a87eb54.e94764","type":"tab","label":"Health Insurance prediction","disabled":false,"info":""},{"id":"60d259a3.9cda58","type":"debug","z":"7a87eb54.e94764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":460,"wires":[]},{"id":"d5e8fbfe.9cf878","type":"function","z":"7a87eb54.e94764","name":"","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\nvar apikey=\"ZMkKEqxAj6kvFpHX0Z5gukygyR1LnVZXu_bzHeeFqu_R\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["93977c4d.c771f"]]},{"id":"93977c4d.c771f","type":"http request","z":"7a87eb54.e94764","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":360,"wires":[["d4941526.02cef8","60d58a50.4cab94"]]},{"id":"d4941526.02cef8","type":"debug","z":"7a87eb54.e94764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":500,"wires":[]},{"id":"60d58a50.4cab94","type":"function","z":"7a87eb54.e94764","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\",\"children\", \"smoker\",  \"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[["637cd1af.16ad2"]]},{"id":"637cd1af.16ad2","type":"http request","z":"7a87eb54.e94764","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/57ac5f78-336e-4604-b5b2-893cbe5b57bc/predictions?version=2020-10-31","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":360,"wires":[["8c961f1e.f1f44","b6d7a64.693bb58"]]},{"id":"8c961f1e.f1f44","type":"debug","z":"7a87eb54.e94764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":480,"wires":[]},{"id":"850772d6.568ff","type":"inject","z":"7a87eb54.e94764","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["d5e8fbfe.9cf878"]]},{"id":"bfd0416c.c2805","type":"debug","z":"7a87eb54.e94764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":100,"wires":[]},{"id":"b6d7a64.693bb58","type":"function","z":"7a87eb54.e94764","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":220,"wires":[["bfd0416c.c2805","a0ab6628.8b6388"]]},{"id":"a0ab6628.8b6388","type":"ui_text","z":"7a87eb54.e94764","group":"fbaf10ae.1f2b8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":360,"wires":[]},{"id":"f14796b5.1276c8","type":"ui_form","z":"7a87eb54.e94764","name":"","label":"","group":"fbaf10ae.1f2b8","order":1,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"sex","value":"sex","type":"text","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null},{"label":"smoker","value":"smoker","type":"text","required":true,"rows":null},{"label":"region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":340,"wires":[["60d259a3.9cda58","d5e8fbfe.9cf878"]]},{"id":"fbaf10ae.1f2b8","type":"ui_group","z":"7a87eb54.e94764","name":"Input Data","tab":"c595af40.729a4","order":1,"disp":true,"width":"6","collapse":false},{"id":"c595af40.729a4","type":"ui_tab","z":"","name":"Insurance Prediction","icon":"dashboard","disabled":false,"hidden":false}]